# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
sox
torch
torchaudio
flask
gunicorn
uroman
firebase-admin
ffmpeg-python
halo
omegaconf
hydra-core
transformers
# git+https://github.com/liyaodev/fairseq.git